/* GLOBAL */

* {
   font-family: Verdana, Geneva, Tahoma, sans-serif
}

kbd {
   font-weight: bold;
   background-color: #777;
   color: white;
   padding: 5px;
   margin: 2px;
   border-radius: 5px;

   box-shadow: -0px 3px 0px 0px black;
}

button:hover {
   cursor: pointer;
}


/* DOM-dependent */

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   background-color: #fffcf7
}

header {
   margin: 0 10px;
}

header h1 {
   text-align: center;
}

main {
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-grow: 1;
}

#controls {
   display: flex;
   flex-direction: column;
}

#controls ol {
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   padding: 0;
}

#controls ol li {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   list-style-type: none;
}

#controls ol li button {
   font-size: 16px;
   margin: 5px;
   padding: 0;
   width: 105px;
   height: 60px;
   background-color: #fff2b3;
   border: 2px solid #aaa;
   border-radius: 10px;
}

#controls ol li button:active {
   background-color: #f9e890;
}

#controls ol li button * {
   margin: 3px;
}

#controls ol li button *:first-child {
   font-weight: bold;
}

#generateButton {
   padding: 15px;
   font-size: 32px;
   font-weight: bold;
   background-color: #f3a957;
   border: 2px solid #aaa;
   border-radius: 10px;
}

#generateButton:active {
   background-color: #e79940;
}

#results {
   background-color: #f9d483;
   padding: 20px;
   border-radius: 20px;
   border: 2px solid #aaa;
   max-width: 350px;
}

footer {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: #ddd;
   margin-top: 10px;
}

footer ul {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin: 20px;
   padding: 0;
   width: 100%;
   max-width: 500px;
}

footer ul li a {
   padding: 10px;
   border-radius: 10px;
   transition: background-color 0.25s;
   text-decoration: none;
   color: black;
}

footer ul li a:hover {
   background-color: #bbb;
}

@media (max-width: 1100px) {
   #controls ol {
      grid-template-columns: repeat(5, 1fr);
   }
}

@media (max-width: 650px) {
   #controls ol {
      grid-template-columns: repeat(3, 1fr);
   }
   footer ul li a {
      font-size: 12px;
   }
}